*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.sign-up-page_bg-container {
    width: 100%;
    height: 100%;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.top-items_container {
    width: 100%;
    height: 11vh;
    background-color: rgb(43, 43, 80);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-items_container .top-left-items_con {
    width: 14rem;
    height: 100%;
    /* border: 1px solid #fff; */
}

.top-items_container .top-right-items_con {
    /* border: 1px solid #fff; */
    max-width: 60%;
    height: 100%;
    display: flex;
}

.top-items_container .top-right-items_con ul {
    /* background-color: #fff; */
    align-self: center;
}

.top-items_container .top-right-items_con ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1vw;
}

.top-items_container .top-right-items_con ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.top-items_container .top-right-items_con ul li a:hover {
    text-decoration: underline;
    color: rgb(216, 216, 255);
}

a:visited {
    color: rgb(0, 0, 170);
}






section.sign-up-page_main-con {
    width: 100%;
    height: 57.9rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    /* border: 2px solid black; */
}

.sign-up-page_main-con .sign-up-page_main-sub-con {
    min-width: 55%;
    height: 54rem;
    margin: auto;
    background-color: rgba(180, 248, 248, 0.2);
    padding: 0 1rem 1rem 1rem;
    position: relative;
    animation-name: box;
    animation-iteration-count: unset;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes box {
    100% {
        box-shadow: .7px .7px 2rem .2rem rgb(175, 170, 170);
    }
}


.sign-up-page_main-sub-con .text-container {
    text-align: center;
    margin-bottom: 1.4rem;
}

.sign-up-page_main-sub-con .text-container .textCont-1 {
    font-size: 4rem;
    font-weight: 400;
}

.sign-up-page_main-sub-con .text-container .textCont-2 {
    font-size: 1.4rem;
}

/* form contents */

.sign-up-page_main-sub-con .signUpContainer {
    width: 100%;
    height: 0;
    gap: 2.4rem;
    display: flex;
    flex-flow: column nowrap;
    transition: height 1.4s;
    animation-name: hide;
    animation-iteration-count: unset;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes hide {
    100% {
        height: 100%;
    }
}

.sign-up-page_main-sub-con .signUpContainer .input-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.sign-up-page_main-sub-con .signUpContainer .input-container label {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: .4rem;
}

.sign-up-page_main-sub-con .signUpContainer .input-container input {
    height: 4rem;
    background: rgb(173, 216, 230, 0.2);
    border: none;
    outline: none;
    padding: 1.6rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.sign-up-page_main-sub-con .signUpContainer .input-container hr {
    background-color: rgb(2, 2, 70);
    border: none;
    height: .3rem;
    width: 0;
    transition: width 1.2s;
}

.input-container.username:hover hr {
    width: 100%;
}

.input-container.email:hover hr {
    width: 100%;
}

.input-container.password:hover hr {
    width: 100%;
}

.input-container.confirm-pass:hover hr {
    width: 100%;
}

.instructions {
    position: absolute;
    top: 7rem;
    font-size: 1rem;
    font-family: monospace;
    transform: scale(0);
    transition: transform .7s;
}

.input-container.username:hover .instructions {
    transform: scale(1);
}

.input-container.email:hover .instructions {
    transform: scale(1);
}

.input-container.password:hover .instructions {
    transform: scale(1);
}

.input-container.confirm-pass:hover .instructions {
    transform: scale(1);
}

.sign-up-page_main-sub-con .signUpContainer button {
    width: 100%;
    height: 4rem;
    border: none;
    background-color: rgb(37, 211, 211);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    transition: transform .5s ease;
}

.bottom-text-item {
    position: absolute;
    top: 51.5rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    transition: transform .7s;
    transform: scale(0.7);
}
.bottom-text-item a {
    text-decoration: none;
    font-size: 1.55rem;
    font-weight: 600;
    font-style: oblique;
}
.bottom-text-item a:hover {
    text-decoration: underline;
}

.sign-up-page_main-sub-con:hover .bottom-text-item {
    transform: scale(1);
}

/* form contents */